/*
.button {
    -fx-background-color:  #555555;
    -fx-background-radius: 20px;
    -fx-background-insets: 0px;
    -fx-text-fill: #bababa;
}
.button:hover {
    -fx-background-color: #454545;
}
.button:pressed {
    -fx-background-color: #343434;
}

#importantList {
    -fx-background-radius: 10px;
}

#planList {
    -fx-background-color: #858585;
    -fx-background-radius: 10px;
}

#planList:hover {
    -fx-background-color: #888888;
}
*/
#mainBackground{
    -fx-background-color: #444444;
}

#sectionBackground1{
    -fx-background-color: #555555;
    -fx-background-radius: 20px;
}

#sectionBackground2{
    -fx-background-color: #606060;
    -fx-background-radius: 20px;
}

#dayButton {
    -fx-background-color: #777777;
    -fx-background-radius: 10px;
    -fx-background-insets: 0px;
    -fx-text-fill: #bababa;
}

#planList {
    -fx-background-color: #777777;
    -fx-background-radius: 10px;
}

#mainButton{
    -fx-background-color:  #444444;
    -fx-background-radius: 20px;
    -fx-background-insets: 0px;
    -fx-text-fill: #bababa;
}

.text-area{
    -fx-background-radius: 10px;
    -fx-background-color: #555555;
    -fx-control-inner-background: #666666;
}