/*
.button {
    -fx-background-color:  #555555;
    -fx-background-radius: 20px;
    -fx-background-insets: 0px;
    -fx-text-fill: #bababa;
}
.button:hover {
    -fx-background-color: #454545;
}
.button:pressed {
    -fx-background-color: #343434;
}

#importantList {
    -fx-background-radius: 10px;
}

#planList {
    -fx-background-color: #858585;
    -fx-background-radius: 10px;
}

#planList:hover {
    -fx-background-color: #888888;
}
*/
#mainBackground{
    -fx-background-color: #444444;
}

#sectionBackground1{
    -fx-background-color: #555555;
    -fx-background-radius: 20px;
}

#sectionBackground2{
    -fx-background-color: #606060;
    -fx-background-radius: 20px;
}

#dayButton {
    -fx-background-color: #777777;
    -fx-background-radius: 10px;
    -fx-background-insets: 0px;
    -fx-text-fill: #bababa;
}

#dayButton:hover{
    -fx-background-color: #707070;
}

#planList {
    -fx-background-color: #777777;
    -fx-background-radius: 10px;
}

#planList:hover {
    -fx-background-color: #808080;
}

#mainButton{
    -fx-background-color:  #444444;
    -fx-background-radius: 20px;
    -fx-background-insets: 0px;
    -fx-text-fill: #bababa;
}

#mainButton:hover{
    -fx-background-color:  #404040;
}

#mainButton:pressed{
    -fx-background-color:  #303030;
}

#detailsButton{
    -fx-background-color:  #555555;
    -fx-background-radius: 20px;
    -fx-background-insets: 0px;
    -fx-text-fill: #bababa;
}

#detailsButtonBackground{
    -fx-background-color: #555555;
    -fx-background-radius: 20px 20px 0px 0px;
}

#detailsBackground{
    -fx-background-color: #555555;
    -fx-background-radius: 0px 20px 20px 20px;
}

#importantList{
    -fx-background-color: #777777;
    -fx-background-radius: 10px;
    -fx-font-size: 18;
}

#importantList:hover{
    -fx-background-color: #808080;
}

.text-area{
    -fx-background-radius: 10px;
    -fx-background-color: #555555;
    -fx-control-inner-background: #666666;
}
